
    <h1>{{title}}</h1>
<article class="card-group align-content-center">
    <div class="card rounded bg-primary col-2 p-2 m-1">
        <div class="card-body">
            <img src="/images/EDWD_logo.svg" class="card-img-top"> {{!--TODO: Add new image to the section--}}
        <h5 class="card-title"> Professional Bio</h5>
            <p class="card-text">{{perfBio}}</p>
        </div>
    </div>

    <div class="card rounded bg-primary col-2 p-2 m-1">
        <div class="card-body">
            <img src="/images/EDWD_logo.svg" class="card-img-top"> {{!--TODO: Add new image to the section--}}
            <h5 class="card-title"> Personal Bio</h5>
             <p class="card-text"> {{perBio}}</p>
        </div>
    </div>
</article>
