    <h1>{{title}}</h1>
<h3> Please contact me with any sort of comment or question</h3>

<form class="form-group m-auto w-75 d-flex flex-column ">
    <fieldset class="form-control">
        <label for="name"> Your Name :
        </label>
        <input name="name" id="name">
    </fieldset>
   <fieldset class="form-control" >
       <label for="email" >Your Email : </label>
       <input name="email" id="email" type="email" placeholder="youremail@domain.com">
   </fieldset>
    <fieldset class="form-control">
        <label for="message">Message:</label>
        <textarea name="message"  class="overflow-auto" id="message"  placeholder="Enter your comment or question here...."></textarea>
    </fieldset>
    <button type="submit" class="btn-primary btn-outline-dark">Submit</button>
</form>
